<!DOCTYPE html>

<!--
  Google HTML5 slide template

  Authors: Luke Mahé (code)
           Marcin Wichary (code and design)
           
           Dominic Mazzoni (browser compatibility)
           Charles Chen (ChromeVox support)

  URL: http://code.google.com/p/html5slides/
-->

<html>
  <head>
    <title>Noosfero e Federação</title>

    <meta charset='utf-8'>
    <script type='text/javascript'>
      var _DEBUG = true
    </script>
    <script src='../slides.js'></script>
  </head>
  
  <style>
    /* Your individual styles here, or just use inline styles if that’s
       what you want. */
    
    
  </style>

  <body style='display: none'>

    <section class='slides layout-regular template-default'>
      
      <!-- Your slides (<article>s) go here. Delete or comment out the
           slides below. -->
        
      <article class='biglogo nobackground'>
      </article>

      <article>
        <h1>
          Redes Federadas com Noosfero
        </h1>
        <p>
          Bráulio Bhavamitra
          <br>
          brauliobo@gmail.com
          <br>
          27 de janeiro de 2011
        </p>
      </article>
      
      <article>
        <h1 class="centered">Federação</h1>
      </article>

      <article>
        <div class="centered" style="background-image: url('images/federacao.gif'); height: 100%;"/>
      </article>

      <article>
        <q>
          Na federação não existe direito de secessão.
        </q>
        <div class="author">
          http://pt.wikipedia.org/wiki/Federação
        </div>
      </article>
      
      <article>
        <q>
          Só o Estado Federal tem soberania.
        </q>
        <div class="author">
          http://pt.wikipedia.org/wiki/Federação
        </div>
      </article>

      <article>
        <q>
          No Estado Federal as atribuições da União e as das unidades federadas são fixadas na Constituição, por meio de uma distribuição de competências.
        </q>
        <div class="author">
          http://pt.wikipedia.org/wiki/Federação
        </div>
      </article>

      <article>
        <q>
          Os cidadãos do Estado que adere à federação adquirem a cidadania do Estado Federal e perdem a anterior.
        </q>
        <div class="author">
          http://pt.wikipedia.org/wiki/Federação
        </div>
      </article>

      <article>
        <h3>
          Sentido político-administrativo
        </h3>
        <ul class="build">
          <li>
          Constituição
          </li>
          <li>
          Soberania vs. Autonomia
          </li>
          <li>
          Personalidade
          </li>
          <li>
          Ditribuição de competências
          </li>
          <li>
          Confederação
          </li>
        </ul>
      </article>


      <article>
        <h1 class="centered">
          Rede de Redes ~ Federação
          <br>
          Redes de Redes ~ Confederação
        </h1>
      </article>

      <article>
        <h1 class="centered">
          Federeção de quê?
        </h1>
      </article>

      <article>
        <ul>
          <li>
          Conteúdo
          </li>
          <li>
          Perfis
          </li>
          <li>
          Identificação
          </li>
          <li>
          Conversação (inclui comentários)
          </li>
          <li>
          Atividades (inclui microblogging)
          </li>
          <li>
          Relacionamentos
          </li>
          <li>
          Bate-papo
          </li>
          <li>
          Categorias e Produtos e Serviços
          </li>
        </ul>
      </article>
      
      <article>
        <h3>
          Protocolos
        </h3>
        
        <table>
          <tr>
            <td>
              Conteúdo
            </td>
            <td>
              Feeds RSS e Atom
            </td>
          </tr>
          <tr>
            <td>
              Perfis
            </td>
            <td>
            </td>
          </tr>
          <tr>
            <td>
              Identificação
            </td>
            <td>
              OAuth, WebFinger, OpenID
            </td>
          </tr>
          <tr>
            <td>
              Conversação
            </td>
            <td>
              Salmon
            </td>
          </tr>
          <tr>
            <td>
              Atividades
            </td>
            <td>
              ActivityStreams
            </td>
          </tr>
          <tr>
            <td>
              Relacionamentos
            </td>
            <td>
              FOAF
            </td>
          </tr>
          <tr>
            <td>
              Bate-papo
            </td>
            <td>
              XMPP
            </td>
          </tr>
          <tr>
            <td>
              Categorias e Produtos e Serviços
            </td>
          </tr>
        </table>
      </article>
      
      <article class='nobackground'>
        <h1 class="centered">
          Implementação
        </h1>
      </article>

      <article class="nobackground">
        <h3>
          Distribuição de "passes" (tokens) às redes
        </h3>

        <iframe src='http://dev.twitter.com'></iframe>
      </article>

      <article class="nobackground">
        <h3>
          Lista de redes federadas
        </h3>

        <iframe src='http://github.com/brauliobo/noosfero/admin'></iframe>
      </article>

      <article>
        <h3>
        </h3>
        
        <ul>
          <li>
          <a href='http://noosfero.org/Development'>noosfero.org/Development</a>
          </li>
          <li>
          <a href='http://noosfero.org/InfrastructureSolutions'>noosfero.org/InfrastructureSolutions</a>
          </li>
          <li>
          Apostila: <a href='http://noosfero.org/TrainingCoursePt'>noosfero.org/TrainingCoursePt</a>
          </li>
        </ul>
      </article>

    </section>

  </body>
</html>
